<html>
 <head>
  <title>Batch 03</title>
  <style>
 div.choose a,div.choose p{
text-decoration:none;
color: rgb(5,32,122);
font-weight: bold; 
font-size: 12px;
}

div.choose a:hover{
text-decoration:none;
color: rgb(230,202,11);
font-weight: bold; 
font-size: 12px;
}

div.search{
float: right;
}
div.search input,div.search select{
width: 250px;
}
  </style> 
<link href="lms/years.css" type="text/css" rel="stylesheet">
<link href="lms/table.css" type="text/css" rel="stylesheet">
<link href="lms/lower-footer.css" rel="stylesheet" type="text/css"/>
<link href="lms/horizontal Rules.css" rel="stylesheet" type="text/css"/>
<link href="lms/top-header.css" rel="stylesheet" type="text/css"/>

<script src="lms/nsbm-logo.js" type="text/javascript"></script>
<script src="lms/hr.js" type="text/javascript"></script>
<script src="lms/hr2.js" type="text/javascript"></script>
<script src="lms/mouse-over.js" type="text/javascript"></script>
<script src="lms/mouse-over-text.js" type="text/javascript"></script>
<script src="lms/forgot-pw validation.js" type="text/javascript"></script>


</head>
<body>
<hr id="col"/>
<div class="header-menu">
<a href="#"><img id="nsbm" height="200px" width="200px"></a>
<p align="right" style="font-family:serif; margin-top:-100px; font-weight:bold; font-variant: small-caps; color:rgb(7,44,169)">you are not logged in.<a class="login" id="log" onmouseover="onmouse2()" onmouseout="mouseout2()" style="text-decoration:none;color:rgb(5,32,122)" href="">(Login)</a></p>
</div>
<hr id="col2"/>
<br/><br/>
  
<div class="search">
Search Courses : <input type="text" name="search" placeholder="Search..">
<input style="width: 60px;" type="button" value="Search"><br><br>

   Course Categoris : <select>
 
   <option value="category.php?id=16">SCHOOL OF COMPUTING / Year 3</option>
   <option value="category.php?id=27">SCHOOL OF COMPUTING / Year 3 / Limkokwing Modules</option>
   <option value="category.php?id=28">SCHOOL OF COMPUTING / Year 3 / UCD Modules</option>
   <option value="category.php?id=17">SCHOOL OF COMPUTING / Year 4</option>
   <option value="category.php?id=29">SCHOOL OF COMPUTING / Year 4 / UCD Modules</option>
   <option value="category.php?id=18">SCHOOL OF COMPUTING / PGD</option>
   <option value="category.php?id=52">SCHOOL OF COMPUTING / Other</option>
   <option value="category.php?id=3">SCHOOL OF COMPUTING / Other / PLYMOUTH 2019</option>
   <option value="category.php?id=5">SCHOOL OF COMPUTING / Other / UCD (2019)</option>
   <option value="category.php?id=39" selected="selected">SCHOOL OF MANAGEMENT</option>
   <option value="category.php?id=24">SCHOOL OF MANAGEMENT / PGD</option>
   <option value="category.php?id=9">SCHOOL OF MANAGEMENT / PGD / Batch-03 (2019)</option>
   <option value="category.php?id=22">SCHOOL OF MANAGEMENT / PGD / Batch-04 (2019)</option>
   <option value="category.php?id=8">SCHOOL OF MANAGEMENT / UCD</option>
   <option value="category.php?id=2">SCHOOL OF MANAGEMENT / UGC </option>
   <option value="category.php?id=67">SCHOOL OF MANAGEMENT / UGC  / BSc in Business Management (UGC) - Special      15-F2</option>
   <option value="category.php?id=50">SCHOOL OF MANAGEMENT / MSC</option>
   <option value="category.php?id=68">SCHOOL OF MANAGEMENT / Foundation</option>
   <option value="category.php?id=64">SCHOOL OF MANAGEMENT / PLYMOUTH</option>
   <option value="category.php?id=4">SCHOOL OF ENGINEERING</option></select>

</div>
<br/>
<div class="choose">
<a href="nsbm.html"><p>LMS</a><img src="arrow.png" height="15px" width="15px"/>
COURSE CATEGORIES<img src="arrow.png" height="15px" width="15px"/>
Batch 03</p></div>
<br/>
 
  
  <h3 align="center" style="color:blue;font-family:arial"><u>Sub-Categories</u></h3><br><br>
  
   <h4 align="center" style="color:blue">Courses</h4>

<table align="center">
    <tr>
     <td><a href="" class="c"> PGDHRM1210-Organizational Change & Development </a><br></td>
    </tr>
    
    <tr>
     <td> <a href="" class="c"> PGDHRM1209-Human Resource Information Systems </a><br></td>
    </tr>

    <tr>
     <td><a href="" class="c"> PGDHRM1208-Human Resource Development </a><br></td>
    </tr>

    <tr>
     <td> <a href="" class="c"> PGDHRM1207-Employment Law & Labour Relation </a><br></td>
    </tr>

    <tr>
     <td> <a href="" class="c"> PGDHRM1206-Introduction to HRM and Employee Resourcing </a><br></td>
    </tr>

    <tr>
     <td><a href="" class="c"> PGDBM1210-Business Statisties </a><br></td>
    </tr>

    <tr>
     <td> <a href="" class="c">PGDBM1209-Management Information System  </a><br></td>
    </tr>

    <tr>
     <td> <a href="" class="c"> PGDBM1208-Financial Management</a><br></td>
    </tr>

    <tr>
     <td> <a href="" class="c"> PGDBM1207-Marketing Management </a><br></td>
    </tr>

    <tr>
     <td> <a href="" class="c"> PGDBM1206-Managing People </a><br></td>
    </tr>

    <tr>
     <td> <a href="" class="c"> PGDCOM1105-Managerial Economics</a><br></td>
    </tr>

    <tr>
     <td> <a href="" class="c">PGDCOM1104-Organizational Behavior </a><br></td>
    </tr>

    <tr>
     <td><a href="" class="c"> PGDCOM1103-Accounting for Decision Making </a><br></td>
    </tr>

    <tr>
     <td> <a href="" class="c"> PGDCOM1102-Business Communication </a><br></td>
    </tr>

    <tr>
     <td> <a href="" class="c"> PGDCOM1101-Managing Organizations </a><br></td>
    </tr>

 </table>


<br/><br/><br/>
<div class="footer">
<p align="center">Science College No 309, High Level Rd, Colombo 05, Sri Lanka.
<br/>Telephone: +94(11)567 2545|5673535 - Email:info@lms.lk</p>
</div>
<p></P>

</body>
</html>