<html><title> facilities</title>
<head>
<link href="lms/lower-footer.css" rel="stylesheet" type="text/css"/>

<link href="lms/sty.css" rel="stylesheet" type="text/css">

<img  id="lms" src="lms/imges/inter.jpg"  height="70%" width="100%">

</div>
<style type="text/css">
  ul {list-style: none;padding: 0px;margin: 0px;}
  ul li {display: block;position: relative;float: left;border:1px solid #000}
  li ul {display: none;}
  ul li a {display: block;background: #000;padding: 5px 10px 5px 10px;text-decoration: none;
           white-space: nowrap;color: #fff;}
  ul li a:hover {background: #f00;}
  li:hover ul {display: block; position: absolute;}
  li:hover li {float: none;}
  li:hover a {background: #f00;}
  li:hover li a:hover {background: #000;}
  #drop-nav li ul li {border-top: 0px;}


div{font-family:verdana;color:blue;}
div#p{color:black;}
p.big {
    line-height: 150%;
}
a {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    transition: 0.3s;
}
a:hover {
    box-shadow: 0 0 10px 5px rgba(0, 140, 186, 0.5);
}
.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 50px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: Black;
   color: white;
   text-align: center;
}

</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>



<body bgcolor="#e2e1e0">

<div class="container">
<h1 style="color:black">FACILITIES</h1><hr/>

<br><a><img  src ="lms/imges/sports.jpg" height="200px" width="100%"/></a></br>
<div style="color:blue">
  <h3><u>SPORTS</u></h3>
  <p class="big" font face="verdana" style="color:BLACK" ><i>Sports help children develop physical skills, get exercise , make friends, have fun, learn to play as a member of a team, learn to play fair, and improve self-esteem .

Participation in sports is a great way of staying active and offers wonderful rewards for mental health. Being involved in sports has been proven to help children learn valuable skills for dealing with life's ups and downs. They teach youth how to interact with others and work as a team. This skill facilitates working with others in other ways such as on a class project or a school play. Sports also help students become more independent and feel better about themselves. The result is positive self-esteem and self-confidence, which are extremely important for determining later happiness and success.

Sports also offer an enjoyable, exciting environment in which to learn how to handle both failure and success. Everyone wins and loses some of the time in both sports and other endeavors. Winning feels great and empowering but can also cause a young person to feel pressure and anxiety in the next attempt to win. Losing usually produces feelings of sadness, depression, and disappointment. Learning how to cope with these different feelings fosters good mental health.

Another aspect of sports that contributes to a healthy mind is goal-setting. Young people who have goals are more likely to be self-motivated and are usually able to accomplish more because they know what they need to do in order to get ahead. Without goals, adolescents tend to lack direction and focus. In sports, goal setting is essential for improving individually and working as a team. This is also true in other pursuits. For example, if a student wants to get better grades, reaching specific goals, such as studying for a certain period of time each night, is the most likely way to achieve them.

</i></p>
<hr/>
</div>
<a><img  src ="lms/imges/lib.jpg" height="200px" width="100%"/></a></br>

<script>

</script>
<hr/>
</br>
<div style="color:blue">
  <h3><u>LIBRARY</u></h3>
  <p class="big" font face="verdana" style="color:BLACK"><i> Public libraries have got two sections generally. One is the reading-room section and the other is the issue section. In the reading-room varieties of newspapers, weeklies, and monthly magazines are placed on the tables. Anybody can go and read them. A catalog of books is maintained by the librarian. Everybody can consult this catalog and get any book issued for reading in the reading-room.

In the issue section a list of members is maintained. The members have to pay a small monthly subscription. They have also to pay an initial deposit as a security for the books. Then they can get books for use at home. The rules regarding issue of books for home-use different from library to library.

Benefits and Uses

The library is a very useful institution. It is not possible for everybody to purchase books on every subject. In the library the same books pass through several hands by rotation. A man can read a large number of books at a very little cost or even no cost. It is a fit place for close and careful study. Here, there is no disturbance and everybody can read with rapt attention.

The library helps a good deal in spreading knowledge and education. Many books are so costly that a man of average means cannot purchase them. People can derive benefit from these books by consulting them in the library.
</i></p>
<hr/>
<hr/>
</div>
<br><a><img  src ="lms/imges/E301 Wide Shot 2.jpg" height="200px" width="70%"/></a></br>

<script>

</script>
<hr/>
</br>
<div style="color:blue">
  <h3><u>COMPUTER LABS</u></h3>
  <p class="big" font face="verdana" style="color:BLACK"><i>Innovation and productivity gains are the essence of a company’s competitiveness and profitability. In this process, information technology plays the critical lead role of ‘enabler’. Without sophisticated IT systems, it would be impossible to create value chains that extend around the world. High-end hardware, upgradable software and global networks have given rise to the evolution of entire industries, the digitalization of virtually every business process and the development of novel business designs. These strides have come at a price though as global spending on hardware, software and IT services has escalated.


These rising expenses have sent a shudder through companies. They realize that IT will be the key to unlocking their future flexibility, speed and customer focus. Frequently, however, they view IT as a menacing cost driver that often leads a life of its own as well. This is precisely where Oliver Wyman steps in. We view technology as the critical value driver at companies and place its benefit to operational business activities at the center of our work. Our strategic approach covers every aspect of IT applications, broken down into the four focal points of enablement, execution, effectiveness and efficiency. Our No. 1 priority in every project we carry out is to optimize our client’s competitiveness. In the process, we apply IT as a value driver. The hidden potential here is unearthed by the IT value analysis that we frequently conduct before initiating a project. Depending on a company’s starting point, productivity gains of up to 20 percent have been identified.
</i></p>
<hr/>


  <br><br><br><br><br><br>
<br><br>

<br/><br/><br/>
<div class="footer">
<p align="center">Science College No 309, High Level Rd, Colombo 05, Sri Lanka.
<br/>Telephone: +94(11)567 2545|5673535 - Email:info@lms.lk</p>
</div>
</div>

<p></P>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>