<html>
 <head>
  <title>Other</title>  <style>
 div.choose a,div.choose p{
text-decoration:none;
color: rgb(5,32,122);
font-weight: bold; 
font-size: 12px;
}

div.choose a:hover{
text-decoration:none;
color: rgb(230,202,11);
font-weight: bold; 
font-size: 12px;
}

div.search{
float: right;
}
div.search input,div.search select{
width: 250px;
}
  </style> 
<link href="lms/css/years.css" type="text/css" rel="stylesheet">
<link href="lms/css/table.css" type="text/css" rel="stylesheet">
<link href="lms/css/lower-footer.css" rel="stylesheet" type="text/css"/>
<link href="lms/css/horizontal Rules.css" rel="stylesheet" type="text/css"/>
<link href="lms/css/top-header.css" rel="stylesheet" type="text/css"/>

<script src="lms/js/nsbm-logo.js" type="text/javascript"></script>
<script src="lms/js/hr.js" type="text/javascript"></script>
<script src="lms/js/hr2.js" type="text/javascript"></script>
<script src="lms/js/mouse-over.js" type="text/javascript"></script>
<script src="lms/js/mouse-over-text.js" type="text/javascript"></script>
<script src="lms/js/forgot-pw validation.js" type="text/javascript"></script>

   <link href="years.css" type="text/css" rel="stylesheet">
   <link href="table.css" type="text/css" rel="stylesheet">
 </head>
 <body>
 <hr id="col"/>
<div class="header-menu">
<a href="#"><img id="nsbm" height="200px" width="200px"></a>
<p align="right" style="font-family:serif; margin-top:-100px; font-weight:bold; font-variant: small-caps; color:rgb(7,44,169)">you are not logged in.<a class="login" id="log" onmouseover="onmouse2()" onmouseout="mouseout2()" style="text-decoration:none;color:rgb(5,32,122)" href="">(Login)</a></p>
</div>
<hr id="col2"/>
<br/><br/>

<div class="search">
Search Courses : <input type="text" name="search" placeholder="Search..">
<input style="width: 60px;" type="button" value="Search"><br><br>

   Course Categoris : <select>
  
   <option >SCHOOL OF COMPUTING / Other / PLYMOUTH 2019</option>
   <option >SCHOOL OF COMPUTING / Other / UCD (2019)</option>
   <option >SCHOOL OF MANAGEMENT</option>
   <option >SCHOOL OF MANAGEMENT / PGD</option>
   <option >SCHOOL OF MANAGEMENT / PGD / Batch-03 (2019)</option>
   <option >SCHOOL OF MANAGEMENT / PGD / Batch-04 (2019)</option>
   <option >SCHOOL OF MANAGEMENT / UCD</option>
   <option >SCHOOL OF MANAGEMENT / UGC </option>
   <option >SCHOOL OF MANAGEMENT / UGC  / BSc in Business Management (UGC) - Special 15-F2</option>
   <option >SCHOOL OF MANAGEMENT / MSC</option>
   <option >SCHOOL OF MANAGEMENT / Foundation</option>
   <option >SCHOOL OF MANAGEMENT / PLYMOUTH</option>
   <option >SCHOOL OF ENGINEERING</option>
</select>

</div>
<br/>
<div class="choose">
<a href="nsbm.html"><p>LMS</a><img src="arrow.png" height="15px" width="15px"/>
COURSE CATEGORIES<img src="arrow.png" height="15px" width="15px"/>
Other</p></div>
<br/>
 
 

 
  
  <h3 align="center" style="color:blue;font-family:arial"><u>Sub-Categories</u></h3><br><br>
  
  
<table align="center">
    

    <tr>
     <td> <a href="" class=""> PLYMOUTH 2019 </a><br></td>
    </tr>

    <tr>
     <td> <a href="" class="g"> UCD (2019) </a></td>
    </tr>

 </table>


<br/><br/><br/>
<div class="footer">
<p align="center">Science College No 309, High Level Rd, Colombo 05, Sri Lanka.
<br/>Telephone: +94(11)567 2545|5673535 - Email:info@lms.lk</p>
</div>
<p></P>

</body>
</html>