<html>
 <head>
  <title>UGC</title>
  <style>
 div.choose a,div.choose p{
text-decoration:none;
color: rgb(5,32,122);
font-weight: bold; 
font-size: 12px;
}

div.choose a:hover{
text-decoration:none;
color: rgb(230,202,11);
font-weight: bold; 
font-size: 12px;
}

div.search{
float: right;
}
div.search input,div.search select{
width: 250px;
}
  </style> 
<link href="years.css" type="text/css" rel="stylesheet">
<link href="table.css" type="text/css" rel="stylesheet">
<link href="lower-footer.css" rel="stylesheet" type="text/css"/>
<link href="horizontal Rules.css" rel="stylesheet" type="text/css"/>
<link href="top-header.css" rel="stylesheet" type="text/css"/>

<script src="nsbm-logo.js" type="text/javascript"></script>
<script src="hr.js" type="text/javascript"></script>
<script src="hr2.js" type="text/javascript"></script>
<script src="mouse-over.js" type="text/javascript"></script>
<script src="mouse-over-text.js" type="text/javascript"></script>
<script src="forgot-pw validation.js" type="text/javascript"></script>


</head>
<body>
<hr id="col"/>
<div class="header-menu">
<a href="#"><img id="nsbm" height="200px" width="200px"></a>
<p align="right" style="font-family:serif; margin-top:-100px; font-weight:bold; font-variant: small-caps; color:rgb(7,44,169)">you are not logged in.<a class="login" id="log" onmouseover="onmouse2()" onmouseout="mouseout2()" style="text-decoration:none;color:rgb(5,32,122)" href="">(Login)</a></p>
</div>
<hr id="col2"/>
<br/><br/>
  
<div class="search">
Search Courses : <input type="text" name="search" placeholder="Search..">
<input style="width: 60px;" type="button" value="Search"><br><br>


   Course Categoris : <select>
  
   <option value="category.php?id=17">SCHOOL OF COMPUTING / Year 4</option>
   <option value="category.php?id=29">SCHOOL OF COMPUTING / Year 4 / UCD Modules</option>
   <option value="category.php?id=18">SCHOOL OF COMPUTING / PGD</option>
   <option value="category.php?id=52">SCHOOL OF COMPUTING / Other</option>
   <option value="category.php?id=3">SCHOOL OF COMPUTING / Other / PLYMOUTH 2019</option>
   <option value="category.php?id=5">SCHOOL OF COMPUTING / Other / UCD (2019)</option>
   <option value="category.php?id=39" selected="selected">SCHOOL OF MANAGEMENT</option>
   <option value="category.php?id=24">SCHOOL OF MANAGEMENT / PGD</option>
   <option value="category.php?id=22">SCHOOL OF MANAGEMENT / PGD / Batch-04 (2019)</option>
   <option value="category.php?id=8">SCHOOL OF MANAGEMENT / UCD</option>
   <option value="category.php?id=2">SCHOOL OF MANAGEMENT / UGC </option>
   <option value="category.php?id=67">SCHOOL OF MANAGEMENT / UGC  / BSc in Business Management (UGC) - Special      15-F2</option>
   <option value="category.php?id=50">SCHOOL OF MANAGEMENT / MSC</option>
   <option value="category.php?id=68">SCHOOL OF MANAGEMENT / Foundation</option>
   <option value="category.php?id=64">SCHOOL OF MANAGEMENT / PLYMOUTH</option>
   <option value="category.php?id=4">SCHOOL OF ENGINEERING</option></select>

</div>

  <br/>
<div class="choose">
<a href="nsbm.html"><p>LMS</a><img src="arrow.png" height="15px" width="15px"/>
COURSE CATEGORIES<img src="arrow.png" height="15px" width="15px"/>
UGC</p></div>
<br/>
 
  
  <h3 align="center" style="color:blue;font-family:arial"><u>Sub-Categories</u></h3><br>
<hr></hr>

   <a href="http://#/course/enrol.php?id=243" class="u"> BSc in Business Management (UGC) - Special 15F2</a> <br>
  
   Lecturer:<a href="http://#/user/view.php?id=11514&course=1" class="r"> Thilini_NSBM Thilini De Silva </a> <br><br><br>
<hr></hr>

  <a href="http://#/course/enrol.php?id=239" class="u"> BSc in Business Management (UGC) - Special 15-2</a> <br><br><br>
<hr></hr>

   <a href="http://#/course/enrol.php?id=67" class="u"> BSc in Business Management (UGC) - Special 13-2</a> <br><br><br>
<hr></hr>
 
   <a href="http://#/course/enrol.php?id=68" class="u"> BSc in Business Management (UGC) - Special 14-1
This course requires an enrolment key </a> <br><br><br>
<hr></hr>
 
   <a href="http://#/course/enrol.php?id=29" class="u"> BSc in Business Management (UGC) - Special 13-F2 </a> <br><br><br>
<hr></hr>

   <a href="http://#/course/enrol.php?id=58" class="u">BSc in Business Management (UGC) - Special 14-F2 </a> <br><br><br>
<hr></hr>

   
  <br><br><br><br><br><br>
<br><br>
<br/><br/><br/>
<div class="footer">
<p align="center">Science College No 309, High Level Rd, Colombo 05, Sri Lanka.
<br/>Telephone: +94(11)567 2545|5673535 - Email:info@lms.lk</p>
</div>
<p></P>



</body>
</html>